<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>rando.alfred.workflow.Rando-IP</string>
	<key>connections</key>
	<dict>
		<key>28E853F0-3A9B-40F7-8FFC-25725D0DB311</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA4BB67D-1B08-4F7D-90AA-88AF532D2DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A6280D6-78F0-4727-B5B8-A9D0DC33E569</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67CD1482-CB5F-410B-843C-E2E3D28DC7EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D520301-D2B0-44F5-A94E-067AA349C74F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCBCCEA2-D099-418C-B98E-B194AA013CED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B15E04D-669B-48CD-B3C7-6B48223B12AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DA7BEF8-3154-4AA7-85DE-634A795576FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64F5EDA0-7151-4B94-BFB2-9F5D7E7CE45C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC9E6BB5-EFA3-4611-875B-F166E103F817</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DA7BEF8-3154-4AA7-85DE-634A795576FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A6280D6-78F0-4727-B5B8-A9D0DC33E569</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D520301-D2B0-44F5-A94E-067AA349C74F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84B0AE24-18F0-48C0-8CDB-627BF7005235</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28E853F0-3A9B-40F7-8FFC-25725D0DB311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA4BB67D-1B08-4F7D-90AA-88AF532D2DC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>981F041A-6923-445B-A81B-EA97676D9E09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCBCCEA2-D099-418C-B98E-B194AA013CED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E218A352-106D-46E3-8EC6-14AE67391D91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84B0AE24-18F0-48C0-8CDB-627BF7005235</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E218A352-106D-46E3-8EC6-14AE67391D91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA4BB67D-1B08-4F7D-90AA-88AF532D2DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rando</string>
	<key>description</key>
	<string>Lookup IP addresses or DNS names</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rando-IP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DC9E6BB5-EFA3-4611-875B-F166E103F817</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>who</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>python whois.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Find IP by host name</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>64F5EDA0-7151-4B94-BFB2-9F5D7E7CE45C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>67CD1482-CB5F-410B-843C-E2E3D28DC7EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>Hostname did not resolve</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2A6280D6-78F0-4727-B5B8-A9D0DC33E569</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
from socket import gethostbyname

query = sys.argv[1]

try:
	result = gethostbyname(query)
	sys.stdout.write(query)
except Exception as e:
	sys.stdout.write("Hostname did not resolve")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6DA7BEF8-3154-4AA7-85DE-634A795576FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ping</string>
				<key>subtext</key>
				<string>Ping the specified host</string>
				<key>text</key>
				<string>Ping Host</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B15E04D-669B-48CD-B3C7-6B48223B12AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>CA4BB67D-1B08-4F7D-90AA-88AF532D2DC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string> 5 packets received 0.0% packet loss
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E218A352-106D-46E3-8EC6-14AE67391D91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>QuickPing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>981F041A-6923-445B-A81B-EA97676D9E09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ping -c 5 -W 1 -i 0.2 $1 | tail -2 | awk -F ',' '{ print $2 $3}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CCBCCEA2-D099-418C-B98E-B194AA013CED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>Hostname did not resolve</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>4D520301-D2B0-44F5-A94E-067AA349C74F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>
 0 packets received 100.0% packet loss
</string>
				<key>replacestring</key>
				<string>Host was not pingable.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>28E853F0-3A9B-40F7-8FFC-25725D0DB311</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>
 0 packets received 100.0% packet loss
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>84B0AE24-18F0-48C0-8CDB-627BF7005235</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&lt;040830&gt;</string>
	<key>uidata</key>
	<dict>
		<key>28E853F0-3A9B-40F7-8FFC-25725D0DB311</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>2A6280D6-78F0-4727-B5B8-A9D0DC33E569</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>4D520301-D2B0-44F5-A94E-067AA349C74F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>5B15E04D-669B-48CD-B3C7-6B48223B12AF</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>64F5EDA0-7151-4B94-BFB2-9F5D7E7CE45C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>67CD1482-CB5F-410B-843C-E2E3D28DC7EC</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>6DA7BEF8-3154-4AA7-85DE-634A795576FE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>84B0AE24-18F0-48C0-8CDB-627BF7005235</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>981F041A-6923-445B-A81B-EA97676D9E09</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>CA4BB67D-1B08-4F7D-90AA-88AF532D2DC9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>CCBCCEA2-D099-418C-B98E-B194AA013CED</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>DC9E6BB5-EFA3-4611-875B-F166E103F817</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>E218A352-106D-46E3-8EC6-14AE67391D91</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/Rand-o</string>
</dict>
</plist>
